<section class="chocolate-listing">
<% @chocolates.each do |chocolate| %>
<%= render :partial=> 'chocolates/chocolate', :locals => {chocolate: chocolate} %>
<% end %>
</section>
<aside>
  <div class="fb-like" data-send="true" data-width="225" data-layout="standard" data-show-faces="true"></div>
</aside>