.chocolate-listing {
  width: ($width * 0.75);
  .chocolate{
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
    position: relative;
    .name {
      color: $b1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;      
      padding: 0.81em;
      background: $c1-trans;
      text-align: right;
      @include border-bottom-radius(0.5em);
      font-family: $linkfont;
    }
    width: ($width - 4em)/4;
    height: ($width - 4em)/4;
    @include box-sizing(border-box);
    display: inline-block;
    padding: $g1;
    border: thin solid $c2;
    @include border-radius(0.5em);
    margin: 0 1.125em 1em 0;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}