/* 
    Choose a grid width, the number of columns and the margin between columns. 
    The result of the following equation has to be an integer, not a fraction: 
    (width - (columns - 1) * col_margin) / columns = N 
*/ 
$base_size: 14px;

$gr: 1.618;

$g1: 1em * $gr;
$g2: $g1 * $gr;
$g3: $g2 * $gr;
$g3: $g2 * $gr;
$g4: $g3 * $gr;

$width: 960px; /* total with of page */ 
$columns: 24; /* number of columns */ 
$col_margin: $gr * $base_size; /* margin between columns */ 
/* math magic */ 
$col_width: ($width - ($col_margin * ($columns - 1))) / $columns; $col_total_width: $col_width + $col_margin; 
/* create row div */ 
@mixin row() {
    width: $width; 
    @include box-sizing(border-box);
} 
/* create a column div */ 
@mixin col($n: 1) { display: inline-block; @include span($n); } 
/* make an element span n columns */ 
@mixin span($n: 1) { 
    width: ($n * $col_width) + (($n - 1) * $col_margin); 
    @if $n == $columns { margin-right: 0; } 
    @else { margin-right: $col_margin; }
    @include box-sizing(border-box);
} 
/* the last column in a row needs this */ 
@mixin last() { margin-right: 0; } 
/* prepend n blank columns */ 
@mixin prepend($n: 1) { margin-left: $col_total_width * $n } 
/* append n blank columns */ 
@mixin append($n: 1) { margin-right: $col_total_width * $n + $col_margin }