aside {
  background: $c1-trans;
  height: 10em;
  width: ($width * 0.23);
  display: inline-block;
  vertical-align: top;
  float: right;
  @include border-radius(0.5em);
  padding: 0.5em;
    @include box-sizing(border-box);
}
