@import "compass/reset";
@import "compass/css3";
@import 'grid';


$b1: #3d2216;
$b2: #26140c;
$c1: #ab8574;
$c2: #d6bcb1;

$shadow: rgba(0,0,0,0.3);

$gr: 1.618;

$g1: 1em * $gr;
$g2: $g1 * $gr;
$g3: $g2 * $gr;
$g3: $g2 * $gr;
$g4: $g3 * $gr;

html {
    margin: 0;
    padding: 0;
    height: 100%;    
}

body{
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    color: $b2;
    padding: $g1;
    font-family: 'Droid Serif';    
}


h1 {
    font-size: $g3;
}
h3 {
    font-size:$g1;
}

#content {
    @include row();
    margin: auto;
    padding: $g1;
    @include border-radius(1em);
    
}
header {
    @include row();
    margin: auto;
    padding: $g1;
    position: relative;
    @include border-radius(1em);
    h1 {
        font-family: 'Leckerli One';
        color: $b1;
    }
    h4 {
        position: absolute;
        top:0;
        right: 0;
        color: $b2;
        background: $c2;
        @include border-radius(0.61em);
        font-size: $g1 * 0.8;
        padding: 0.61em;
    }
}
