@import "compass/reset";
@import "compass/css3";
@import 'grid';


$b1: #3d2216;
$b2: #26140c;
$c1: #ab8574;
$c2: #d6bcb1;

$fancyfont: 'Leckerli One', Georgia;
$basefont: Georgia, serif;    
$linkfont: helvetica, arial;
$shadow: rgba(0,0,0,0.3);

$gr: 1.618;

$g1: 1em * $gr;
$g2: $g1 * $gr;
$g3: $g2 * $gr;
$g3: $g2 * $gr;
$g4: $g3 * $gr;

html {
    margin: 0;
    padding: 0;
    height: 100%;    
}

body{
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    color: $b2;
    font-family: $basefont;
}


h1 {
    font-size: $g3;
}
h3 {
    font-size:$g1;
}
a {
    text-decoration: none;
}
#content {
    @include row();
    margin: auto;
    padding: $g1;
    @include border-radius(1em);
    border-top: thin solid $c1;
    border-bottom: thin solid $c1;
}
header {
    @include row();
    margin: auto;
    padding: $g1;
    position: relative;
    @include border-radius(1em);
    h1 {
        font-family: $fancyfont;
        color: $b1;
        display: inline-block;
    }
    h4 {
        $factor: 0.7;
        position: absolute;    
        right: $g1;
        bottom: $g1;
        color: $b2;        
        font-style: italic;
        font-size: $g1 * $factor;        
    }
    nav {
        position: absolute;
        top: 0;
        right: $g3;
        a {
            padding: 0.618em;
            margin-left: 0.618em;
            display: inline-block;
            color: $c2;
            background: $b1;
            @include border-bottom-radius(0.618em);
            @include transition-duration(0.5s);
            @include transition-property("background, color, opacity");
            font-family: $linkfont;
            &:hover{
                color: $b1;
                background: $c2;
            }
            &:active{
                opacity: 0.5;
            }
        }
    }
}

footer{
    font-size: 0.8em;
    text-align: center;
    display: block;
    padding: $g1;
    color: $b1;
}

table {
    margin: $g1 0;
    td, th {
        padding: 0.5em;
        vertical-align: top;
    }
    
    th {
        font-weight: bold;
    }
    td.action a {
        background: $c2;
        padding: 0.2em 0.5em;
        text-transform: lowercase;
        font-size: 0.75em;
        font-family: $linkfont ;
        vertical-align: baseline;
        @include border-radius();
    }

}
