$base_size: 16px;

$gr: 1.618;

$g1: 1em * $gr;
$g2: $g1 * $gr;
$g3: $g2 * $gr;
$g3: $g2 * $gr;
$g4: $g3 * $gr;

$b1: rgba(41,15,2,1);
$b2: rgba(117,43,6,1);
$c1: rgba(229,176,101,1);
$c1-trans: rgba(229,176,101,0.381);
$c2: rgba(227,159,65,1);
$c: rgba(255,228,140,1);

$b1-trans: rgba(61, 34, 22, 0.8);

$fancyfont: 'Leckerli One', Georgia;
$basefont: Nobile, helvetica, arial;    
$linkfont: Nobile, helvetica, arial;
$shadow: rgba(0,0,0,0.3);

$width: 72em;

html {
  margin: 0;
  padding: 0;
  height: 100%;    
}

body{
  font-family: sans-serif;
  font-size: $base_size;
  width: $width;
  margin: auto;
  color: $b2;
  font-family: $basefont;
}

h1 {
  font-size: $g3;
}
h3 {
  font-size:$g1;
}
a {
  text-decoration: none;
}
#content {
  margin: auto;
  padding: $g1 0;
  border-top: 2px solid $c1;
  border-bottom: 2px solid $c1;
}
header {
  margin: auto;
  padding: $g1 0;
  position: relative;
  @include border-radius(1em);
  line-height: 1em;
  margin-top: $g1;
  h1 {
    font-family: $fancyfont;
    color: $b1;
    display: inline;

  }
  h4 {
    position: absolute;
    right: 0;
    bottom: $g1;
    color: $b2;        
    text-align: right;
    font-style: italic;
  }
  nav {
    position: absolute;
    top: -$g1;
    right: 0;
    a {
      font-size: 0.8em;
      padding: 0.618em 1em;
      margin-left: 0.618em;
      display: inline-block;
      color: $c2;
      background: $b1;
      @include border-bottom-radius(0.318em);
      @include transition-duration(0.5s);
      @include transition-property("background, color, opacity");
      font-family: $linkfont;
      &:hover{
        color: $b1;
        background: $c2;
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
}

footer{
  font-size: 0.618em;
  text-align: center;
  display: block;
  padding: $g1;
  color: $b1;
  font-family: $linkfont;
}

table {
  margin: $g1 0;
  td, th {
    padding: 0.5em;
    vertical-align: top;
  }

  th {
    font-weight: bold;
  }
  td.action a {
    background: $c2;
    padding: 0.2em 0.5em;
    text-transform: lowercase;
    font-size: 0.75em;
    font-family: $linkfont ;
    vertical-align: baseline;
    @include border-radius();
  }
}
